/* -------------------- TYPOGRAFIE -------------------- */

h1,
h2,
h3 {
    font-family: 'Cinzel', serif;
    color: var(--gold);
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

a {
    color: var(--link-gold);
    text-decoration: none;
}

a:hover {
    color: var(--gold-light);
    text-decoration: underline;
}
